@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BerberWeb.Entity.Entities.Service

<form asp-action="AddService" asp-controller="AdminService" method="post">
    <div class="form-group">
        <label asp-for="ServiceName">Hizmet Adı:</label>
        <input asp-for="ServiceName" class="form-control" required />
        <span asp-validation-for="ServiceName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Fiyat:</label>
        <input asp-for="Price" class="form-control" required />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration">Süre:</label>
        <input type="time" asp-for="Duration" class="form-control" required />
        <span asp-validation-for="ServiceName" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="ServiceImgUrl">Img Url:</label>
        <input asp-for="ServiceImgUrl" type="text" class="form-control" />
        <span asp-validation-for="ServiceImgUrl" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Hizmet Ekle</button>
    <a asp-controller="AdminService" asp-action="Index" class="btn btn-secondary">Geri Dön</a>
</form>